// Define variables for your color scheme
$brand-color: #1965B1;


$green: #E1866B;
$yellow: #F2C94C;

$red: #E1866B;
$blue: #1F8BCC;
$white: #FFFFFF;
$dark_blue: #1965B1;
$light-gray: #DBD9D9;
$gray: #757575;


// Add your own colors like this:

// Personal Color Scheme
$my-red: #E1866B;
$my-blue: #1F8BCC;
$my-white: #FFFFFF;
