// Specific CSS for your home-page
.container-index {
  background-color: white;
  opacity: 0.9;
  box-shadow: 1px 1px 1px rgba(20,20,20,0.9);
  margin-bottom: 80px;
  padding: 40px 60px 60px 60px;
}


.container-transaction {
  background-color: white;
  opacity: 0.9;
  box-shadow: 1px 1px 1px rgba(20,20,20,0.9);
  padding: 100px 60px 60px 60px;

  margin-top: 150px;

}

.container-transactions {
  background-color: white;
  opacity: 0.9;
  box-shadow: 1px 1px 1px rgba(20,20,20,0.9);
  padding: 40px 60px 60px 60px;

  margin-top: 150px;

}
