.charity-information{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 505px;
  overflow: hidden;
  text-decoration: none;
  .charity-info {
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;

    padding-top:30px;
  }

  .charity-info-button{
    padding-top:30px;
  }
  a:hover {
     text-decoration: none;
  }
}

.charity-donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid grey;
  a:hover{
    text-decoration: none;
  }
  .charity-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    ul{
      // display: flex;
      // //justify-content: center;
      // flex-direction: column;
      // align-items: center;
      padding-top: 40px;
      li{
        list-style-type: none;
      }
    }
  }
  .charity-goals{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .charity-button{
      padding-top: 20px;
    }
  }
}
