body {
  background-image: asset-url("background_triangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
}

hr {
  border-color: black;
}