  <div class="banner">
    <div class="banner-content">
      <h1 style="">Cure the cause not the charity</h1>
    </div>
  </div>


  <div class="container container-index">

    <h1 class="text-center title-home">Charities</h1>

    <div class="row">
     <% @charities.each do |charity| %>


         <div class="col-xs-12 col-sm-6 col-md-4">
           <%= link_to charity_path(charity) do %>
             <div class="card" style="background-image:url(<%= asset_path charity.name.downcase.split(/[ .-]/).join("_") + "_logo.png" %>);">
             </div>
           <% end %>
         </div>


     <% end %>
    </div>

 </div>


