  <div class="banner">
    <div class="banner-content">
      <h1 style="">Cure the cause not the charity</h1>
      <h2>First charity donation plattform that passes on 99 % of donations. </h2>
      <h2>Directly to the charities. Transparent and on the blockchain.</h2>
    </div>
  </div>


  <div class="container container-index">

    <h1 class="text-center title-home">Charities</h1>

    <div class="row">
     <% @charities.each do |charity| %>
     <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path charity.photos.first.path, height: 300, width: 400, crop: :fill %>');">
         <div class="card-description">
           <h2><%= link_to charity.name, charity_path(charity) %></h2>
         </div>
       </div>
     </div>
     <% end %>
   </div>

 </div>

</div>


