#large-box {
  width: 350px;
  background-color: lightgrey;
  height: 40px;
  border-radius: 4px;
  display: flex;

}

#small-box {
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: white;
}

#percent {
  margin-top:12px;
}

.totalvalue {
  display: none;
}

.goals {
  color: black;
  margin: 10px;
}
